*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9AC6C5;
}

header {
    display: flex;
    background-color: #360568;
    justify-content: space-between;
}

header :nth-child(2) {
    order: -1;
    padding: 15px;
    margin: 10px;
    background-color: whitesmoke;
}

.add-todo {
    background-color: #4CAF50;
    border: none;
    outline: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
    font-weight: 900;
    margin-right: 5px;
}

h1 {
    color: orange;
    padding: 20px;
}

.content {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 2fr 30px 9fr;
    grid-template-rows: auto;
    grid-template-areas:
        "nav display-todos display-todos";
    min-height: calc(100vh - 150px);
}

nav {
    padding-top: 20px;
    padding-left: 30px;
    grid-area: nav;
    text-transform: uppercase;
}

nav ul>li {
    list-style: none;
    margin-bottom: 10px;
}

nav li>a {
    text-decoration: none;
}

.project:hover .project-list {
    display: flex;
    flex-direction: column;
    background: #B2D6FF;
    border-radius: 5px;
    padding-top: 7px;
}

.project-list li {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.project-list li:last-of-type {
    border-bottom: none;
}

.project-list {
    display: none;
}

.project-list>li:nth-child(1) {
    margin-top: 5px;
}

.project-list li:nth-child(n+4) {
    display: flex;
    justify-content: space-between;
}

.del-project-container {
    margin-right: 10px;
    margin-bottom: 5px;
}

.del-project {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.3rem;
    border-radius: 2px;
}

.new-project {
    display: inline-block;
    padding: 0.7rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
}

.project-input {
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 2px;
    margin-bottom: 7px;
}

.submit-new-proj-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.submit-new-proj-container>button {
    padding: 7px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
}

.display-todos {
    grid-area: display-todos;
}

.task-container {
    display: grid;
    grid-template-columns: 3fr 12fr;
    grid-template-rows: auto;
    grid-template-areas: "task-checkbox-container task-checkbox-container";
    margin-left: 50px;
    margin-bottom: 10px;
    padding: 10px 50px;
    border: 2px solid #fff;
    background-color: #360568;
    color: #A5E6BA;
}

.task-checkbox-container {
    grid-area: task-checkbox-container;
}

footer {
    width: 100%;
    background-color: #7785AC;
    color: #360568;
    text-align: center;
    height: 70px;
}

footer p {
    font-weight: 800;
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    text-shadow: 6px 7px 8px rgba(230, 215, 248, 0.8);
    padding-top: 10px;
}